<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap" rel="stylesheet">
</head>
<body>
    <h1>ToDo List</h1>
    <div class="container">
    <form method="post" action="/tasks">
        <div class="add-task">
        <label for="task"></label>
        <input type="text" name="task" placeholder="your task here">
        <button id="new-task">+</button>
    </div>
    <div class="task-custom">
        <label for="selectcategory">
        <select name="selectcategory">
            <% for(var i = 0; i < categoriesArr.length; i++){ %>
             
                <option>
                    <%= categoriesArr[i] %> 
                        
                   
                        
            </option>
                
            <% } %>
        </select></label>
    </form>
        <button method="POST" formaction="/tasks/clearcompleted" id="delete-completed">delete completed</button>
        <button method="POST" formaction="/tasks/clearall" id="delete-all">delete all</button>
        
    </div>


    
</div>
<div class="list">
    <ul>
        
        <% for(var i = 0; i <allTheTasks.length; i++){ %>
             
            <li title="Task Id: <%= allTheTasks[i].id %>">
                <span style= "color: #A3F79E;"" > <%= allTheTasks[i].emoji %> </span> 
                <%= allTheTasks[i].content %> 
                    
                    <input type="checkbox" name="check" value="<%=allTheTasks[i]%>"  >
                    
            </li>
            
        <% } %>
    </ul>
</div>
</body>
</html>